.container {
  display: grid;
  height: 350px;
  width: 300px;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3"
    "item4 item4 item4";
}
h1 {
  font-size: 18px;
}
.line {
  border-bottom: 0.5px solid rgba(28, 28, 28, 0.3);
}
h4 {
  grid-area: item2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 5%;
}
.colorchange {
  /*Changing color of text */
  color: rgb(22, 164, 119);
  background: none;
}
.item1 {
  grid-area: item1;
  background-color: rgba(233, 233, 233, 0.801);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.item2 {
  grid-area: item2;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 60px;
}
.switch {
  /*configuring outer container size and position*/
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
/* Hide default HTML checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  /*configuring the outer container*/
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: lightgray;
  transition: 0.2s;
}
.slider:before {
  /*configuring the toggle button*/
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  background-color: rgb(22, 164, 119);
  transition: 0.35s;
}
.slider.round {
  /*change shape of outer container*/
  border-radius: 30px;
}
.slider.round:before {
  /*change shape of toggle button*/
  border-radius: 40px;
}
input:checked + .slider {
  /*when button is toggled, change color*/
  background-color: rgb(22, 164, 119);
}
input:focus + .slider {
  /*trigger upon toggle button click, creates background ~effect~ */
  box-shadow: 0 0 15px darkslategray;
}
input:checked + .slider:before {
  /* configures horizontal transformation for toggle button*/
  transform: translateX(30px);
  background-color: lightgray;
}
h3 {
  vertical-align: bottom;
}
.container {
  border: 5px solid black;
}
.dropDownBox {
  grid-area: item3;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.5px solid rgba(177, 25, 25, 0.3);
}
#label-name {
  margin-top: 6%;
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
}
.dropDownBox select {
  margin-top: 6%;
}
#url {
  grid-area: item4;
  display: flexbox;
  text-align: center;
}
/* * {
  border: 1px solid red;
} */
